#content
  .title
    %h1= @student_name
  .level
    level
    %h3= @reading_level
  .clear-float
  .description
    %p= @description
  .focus_dropdown
    .plus_minus
      %h3 +
    .focus_title
      %h3= @focus_area
  -#.focus_info
  -#  %h3= @focus_area_info
  #info.focus_text
    = @focus_area_text
  .clear-float
  .focus_details
    -#%p= @focus_area_details
    %table.focus_drop
      %tr
        %td
          %p.tablesm Speed
        %td.right_side
          =image_tag("checkmark-good.png")
      %tr
        %td
          %p.tablesm Accuracy
        %td.right_side
          =image_tag("checkmark-warn.png")
  %hr
  .parent_tip
    %p= @parent_tip
    %p= @parent_tip_list
  =render "sample_video"
  .fr
    %button.comment_button
      %h4 Comment to teacher
  %form.comment_form
    %p.bottom Your Comment
    %textarea#comment_text_area
  .fr.comment_buttons
    %button.comment_cancel
      %h4 Cancel
    %button.comment_submit
      %h4 Send
  .comment_reply
    %p Thank you! Your message has been sent via SLC.
  .clear-float

  %hr
  .child_activity
    %p.pbs= @child_activity_info
    Act it out! A reader’s theatre game.<br />
    = link_to 'Power Words', "http://pbskids.org/wordgirl/games/powerwords/"
    -#%p= @child_activity_list
=render "dialog"
