#content
  .title
    %h1= @title
    %p= @reading_level
  .description
    %p= @description
  .focus_area
    %p= @focus_area
    %p= @focus_area_details
    %p= @focus_area_info
  .parent_tip
    %p= @parent_tip
    %p= @parent_tip_list
  .child_activity
    %p= @child_activity_info
    %p= @child_activity_list
