#content
  .title
    %h1= @student_name
  .level
    level
    %h2= @reading_level
  .clear-float
  .description
    %p= @description
  .focus_dropdown
    .plus_minus
      %h3 +
    .focus_title
      %h3= @focus_area
  -#.focus_info
  -#  %h3= @focus_area_info
  .focus_text
    = @focus_area_text
  .clear-float
  .focus_details
    %p= @focus_area_details
  %hr
  .parent_tip
    %p= @parent_tip
    %p= @parent_tip_list
  =render "sample_video"
  .fr
    %button.comment_button  Comment to teacher
  %form.comment_form
    %p Your Comment
    %textarea
  .fr.comment_buttons
    %button.comment_cancel  Cancel
    %button.comment_submit  Send
  .comment_reply
    %p Thank you! Your message has been sent.
  .clear-float

  %hr
  .child_activity
    %p.pbs= @child_activity_info
    Act it out! A reader’s theatre game.<br />
    = link_to 'Power Words', "http://pbskids.org/wordgirl/games/powerwords/"
    -#%p= @child_activity_list
