#content
  .title
    %h1= @title
  .level
    level
    %h1= @reading_level
  .clear-float
  .description
    %p= @description
  .focus_dropdown
    .plus_minus
      %h1 +
    .focus_title
      %h1= @focus_area
  -#.focus_info
  -#  %h2= @focus_area_info
  .focus_text
    = @focus_area_text
  .clear-float
  %hr
  .focus_details
    %p= @focus_area_details
  .parent_tip
    %p= @parent_tip
    %p= @parent_tip_list
  =render "sample_video"
  %hr
  .child_activity
    %p.pbs= @child_activity_info
    Act it out! A reader’s theatre game.<br />
    = link_to 'Power Words', "http://pbskids.org/wordgirl/games/powerwords/"
    -#%p= @child_activity_list
